html
  head
    title IPL data (Mongo version)
    link(rel='stylesheet', href='main.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  body
    h2 Simple IPL Analytics (mongo version)

    div#container
      div#menu

      div#content

    script(src='main.js')
